__pycache__/
*.bak

ideas/
notes/
test.py 

pyile/bootstrap/venv/
pyile/bootstrap/.bootstrap_done
pyile/bootstrap/bootstrap.log
pyile/bootstrap/get-pip.py

pyile/backup
pyile/cache
pyile/logs/

pyile/assets/gui
pyile/lib/ui/gui/tooltip.py
pyile/lib/runtime/monitors/backup_monitor.py

