[Excluded Directories Config]

# Manually add directories as shown below
# -C:\Users
# -C:\Users\dev\AppData
# -C:/Users/dev/AppData

-C:\Users\dev\AppData\Local\Microsoft\Windows\Explorer\NotifyIcon
-C:\Users\dev\AppData\Local\Google\Chrome\User Data\Default